#dashboard {
    padding: 32px;
    h2 {
        color: #E0CB76;
    }
    #top-container {
        display: flex;
        width: 100%;
        #add-transaction-btns {
            display: flex;
            gap: 16px;

            button {
                font-size: 24px;
                height: 46px;
                padding: 0px 16px;
                border-radius: 23px;
            }

            #add-expense-btn {
                border: none;
                background-color: #E0CB76;
                color: black;
            }
            #add-income-btn {
                border: 2px solid #E0CB76;
                background-color: black;
                color: #E0CB76;
            }
        }
        .add-transaction-form {
            display: none;
            flex-direction: column;
            border: 1px solid #E0CB76;
            padding: 16px;
            border-radius: 8px;
            > * {
                margin-top: 12px;
            }
            input, button, select {
                border-radius: 8px;
                padding: 5px;
                border: none;
            }
            .buttons-container {
                margin-top: 24px;
                button {
                    border-radius: 8px;
                    height: 32px;
                    width: 200px;
                    cursor: pointer;
                }
                .button-fill {
                    background-color: #E0CB76;
                    color: black;
                    border: none;
                }
                .button-outline {
                    background-color: black;
                    color: #E0CB76;
                    border: 2px solid #E0CB76;
                    margin-left: 8px;
                }
            }
            
        }

        #budgets-container {
            width: 100%;
            .category-chart-container {
                .chart-currency-amount {
                    display: flex;
                    align-items: center;
                    gap: 16px;
                }
                .outer-fill-chart {
                    width: 400px;
                    height: 32px;
                    border-radius: 16px;
                    border: 1px solid #E0CB76;
                    overflow: hidden;
                    position: relative;
                    .inner-fill-chart {
                        background-color: #E0CB76;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        font-weight: 600;
                        padding-left: 12px;
                        overflow: visible;
                        white-space: nowrap;
                        position: absolute;
                        left: 0;
                        top: 0; 
                    }
                }
            }
        }
            
        #accounts-container{
            padding-left: 64px;
            width: 100%;
            h2 {
                margin-top: 0%;
            }
        }
    }
    #mobile-transactions {
        display: none;
    }
    table {
        border-collapse: collapse;
        width: 100%;
        th,td {
            padding: 8px 16px 8px;
            text-align: left;
        }
        td {
            border: 1px solid #E0CB76;
        }
        th {
            background-color: #E0CB76;
            color: black;
            border: none;
            &:first-child {
                border-top-left-radius: 8px;
            }
            &:last-child {
                border-top-right-radius: 8px;
            }
            &:not(:first-child){
                border-left: 1px solid black;
            }
        }

    }
}
    
#home-not-logged-in{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #E0CB76;
    h1 {
        font-family: cursive;
        font-size: 60px;
    }
    button {
        font-size: 20px;
        margin-top: 20px;
        border-radius: 8px;
        padding: 8px;
        width: 200px;
    }

    #signupBtn {
        background-color: #E0CB76;
        color: black;
    }
    #loginBtn {
        background-color: black;
        color: #E0CB76; 
        border: 2px solid #E0CB76;
    }

}

@media (max-width: 900px) {
    #dashboard {
        padding: 32px 16px;
        #top-container {
            flex-direction: column;
            #add-transaction-btns {
                flex-direction: column;
            }
            #accounts-container {
                padding-left: 0px;
            }
        }
        #mobile-transactions {
            display: block;
        }
        #desktop-transactions {
            display: none;
        }
        .transaction-div {
            padding-top: 8px;
            width: 100%;
            border-top: 1px solid #E0CB76;
            div {
                width: 100%;
                display: flex;
                justify-content: space-between;
                margin-bottom: 5px;
            }
        }
    }
}